<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Connect_DB" connectionString="Data Source=.;Initial Catalog=Online_Shopping; uid=SRK-LAPTOP\Acer;Integrated Security=True" providerName="System.data.sqlClient"></add>
  </connectionStrings>
    <system.web>
      <pages enableEventValidation="false"/>

      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>
